.title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 35px;
}

.titleContact {
  display: flex;
  margin-left: 71px;
}

.block {
  border: 1px solid grey;
  width: 220px;
  padding: 10px;
    margin: 0 auto;
}
